html{

    font-family: sans-serif;

}


.form{

    border:solid 0.4px #F0F5F7;
    width:70%;
    margin: auto;
    margin-bottom: 80px;
    border-radius: 10px;
    padding: 50px 30px;

}

.input{
   padding-top: 30px;
}

#name, #password, #email, #phone,#message{

    width: 40%;
    padding: 20px 12px;
    border-radius: 5px;
    background-color:#F0F5F7 ;
    border: 1px solid #F0F5F7;
    margin: 8px 0px;
}

#message{
    width: 90%;
}
label{

    font-size: 15px;
    color: #818891;
    margin-bottom: 100px;
}

#button{

    padding: 15px 80px;
    background-color: #1967D2;
    color: white;
    font-size: 15px;
    border: solid #1967D2;
    border-radius: 5px;

}




